
.nav-tag{
    border-bottom: 1px solid grey;
}
.nav-tag .nav-item .nav-hover{
    color: grey;
}
.nav-tag .nav-item .nav-hover:hover{
    color: black;
    border-bottom: 2px solid  #f26b38;
}
.panel .panel-heading{
    border-radius: 0;
    color: #ffffff;
    background-color: #f26b38;
    border-color: #f26b38;
    height: 40px;
    line-height: 20px;
    text-align: center;
    padding: 10px 15px;
}
.panel .panel-heading .pannel-title{
    font-size: 16px;
    color: #ffffff;
    text-transform: uppercase;
}
.panel .list-group .showtime-row{
    width: 60px;
    float: left;
    margin-right: 15px;
    padding: 15px 0px;
    
}
.panel .list-group .showtime-row img{
    width: 100%
}
.panel .list-group .title-movie{
    float: left;
    padding: 13px 0px;
}
.panel .list-group .title-movie p{
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 5px;
}
.panel .list-group li {
    list-style: none;
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 10px;
}
.panel .list-group li a{
    color: grey;
    display: flex;
    text-decoration: none;
    transition-duration: 200ms;
}
.panel .list-group li:hover{
    background: #f5f5f5;
}

